.nav{class: :row,style: 'padding-top: 2em;'}
  = link_to 'Visitors', visitors_path, class: :button
  = link_to 'Hosts', hosts_path, class: :button
  %hr
  = link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button alert' if user_signed_in?
